@import '../variable.scss';



.container_project {
    background-color: $first-color;

    h2 {
        text-align: center;
        padding: 4rem 0;
    }


    #btn-filter {
        @include FlexCenter;
        width: 25%;
        margin: 2rem auto;
        @include Gradient;

        button {
            outline: none;
            border: none;
            color: white;
            transition: .2s;
        }

        button:hover {
            border-radius: 10px;
            transform: scale(1.1);
            transition: .3s;
        }

    }

    #card {
        width: 80%;
        margin: auto;
        padding: 5rem 0;

        .card {
            background-color: $second-color;
            color: white;
            width: 20rem;
            overflow: hidden;
            height: 310px;
            transition: .5s;
            box-shadow: 3px 10px 10px $second-color;
            padding: 3rem 1rem;
        }

        .card:hover {
            border: solid $third-color;
            transition: .5s;
            height: 650px;
        }

        h5 {
            text-align: center;
        }

        #desc {
            font-size: .9rem;
            padding: 2rem 0;
            width: 90%;
        }

        #emoji {
            padding: 1rem 0;
        }

        a {
            text-align: center;
            width: 50%;
            margin: auto;
            @include Gradient;
            border: none;
            margin: 1rem auto;
        }

        #preview {
            width: 100%;
            border-radius: 30px;

            img {
                border-radius: 20px;
            }
        }
    }

    .show-btn {
        text-align: center;

        button {
            @include Gradient;
            border: none;
            border-radius: 10px;
            font-size: 1.5rem;
            padding: .3rem 2rem;
            transition: .5s;
        }

        button:hover {
            box-shadow: 0px 0px 10px $third-color;
            transition: .5s;
        }
    }
}


//Media Q

@media screen and (max-width: $mobile-width) {
    .container_project {

        #btn-filter {
            width: 80%;
        }

        .card {
            width: 100% !important;
            height: 650px !important;
        }

    }
}



@media screen and (max-width: $tablet-width) {
    .container_project {

        #btn-filter {
            width: 60%;
        }

    }
}