@import '../variable.scss';
 

.container_techno {
    width: 30%;
    margin: auto;

    img {
        width: 5rem;
        border-radius: 100%;
        transition: .5s;
    }

    img:hover {
        transform: scale(1.2);
        transition: .3s;
    }
    
    #hidden {
        display: none;
    }
}

