@import '../variable.scss';

.avis {

    background-color: $fourth-color;
    padding: 4rem 0;

    h2 {
        color: white;
        text-align: center
    }

    .avis-client {
        @include FlexCenter;

        .review {

            p {
                font-size: 1rem;
                text-align: start;
                margin-top: 2rem;
            }
        }
    }
}