@import '../variable.scss';

.avis {
    h2 {
        color: black;
        text-align: center
    }

    .avis-client {
        @include FlexCenter;

        .review {

            p {
                font-size: 1rem;
                text-align: start;
                margin-top: 2rem;
            }
        }
    }
}