@import '../variable.scss';

.description-client {
    height: 80vh;
    background-color: $client-color;

    .fa-arrow-down {
        color: white;
        display: flex;
        justify-content: center;
        width: 100px;
        height: 100px;
        margin: auto;
        animation: pulse 2s infinite;
        cursor: pointer;
    }

    .wrapper-description {
        @include FlexSpaceAroundReverse;
        width: 90%;
        margin: auto;
        height: 70vh;

        h1 {
            color: white;

            span {
                color: white;

            }
        }

        p {
            margin-top: 2rem;
            font-size: 1.4rem;
            color: white;
        }

        button {
            margin-top: 2rem;
            @include GradientClient;
            border: none;
            border-radius: 10px;
            font-size: 1.5rem;
            padding: .3rem 2rem;
            transition: .5s;
            color: $fourth-color;
        }

        button:hover {
            box-shadow: 0px 0px 10px $entreprise-color;
            transition: .5s;
        }

        .container-photo {
            // border: solid #FFEA00;
            box-shadow: 0px 0px 400px #ffea0078;
            width: 500px;
            height: 500px;
            overflow: hidden;
            @include FlexCenter;
            border-radius: 100%;
            position: relative;
            z-index: 1;
            transition: 1s;


            img {
                width: 35rem;
            }
        }

        .container-photo:hover {
            box-shadow: 0px 0px 100px burlywood;
            border: solid burlywood;
            transition: 1s;
        }
    }

    h2 {
        text-align: center;
        margin: 4rem 0;
        color: black;
    }

}


@media screen and (max-width: $tablet-width) {

    .description {
        height: 100vh;
        @include FlexCenter;

        .fa-arrow-down {
            display: none;
        }


        .wrapper-description {
            flex-direction: column;


            .container-photo {
                //display: none !important;
                height: 300px !important;
                width: 300px !important;
                border-radius: 1000px;

                img {
                    width: 20rem;
                }
            }
        }
    }
}



// Keyframes Pulsing effect
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}