@import '../variable.scss';


#container_techno {

    .container_techno {
        width: 27%;
        margin: auto;

        img {
            width: 5rem;
            border-radius: 100%;
            transition: .5s;
        }

        img:hover {
            transform: scale(1.2);
            transition: .3s;
        }

        #hidden {
            display: none;
        }
    }
}


//Media Q

@media screen and (max-width: $desktop-width) {
    .container_techno {
        width: 70% !important;
    }
}

@media screen and (max-width: $tablet-width) {
    #container_techno {
        height: 100%;
    }

    .container_techno {
        width: 80% !important;
    }
}


@media screen and (max-width: $mobile-width) {


    #container_techno {
        height: 100%;
    }

    .container_techno {
        width: 80% !important;
    }
}