.toggle-button {
    width: 60px;
    height: 30px;
    background-color: #FFEA00;
    border-radius: 15px;
    position: relative;
    cursor: pointer;

    .inner-circle {
        width: 26px;
        height: 26px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 4%;
        left: 2px;
        transition: transform 0.3s ease;
        transform: translateX(0%);
    }

    &.active {
        background-color: #00bcd4;

        .inner-circle {
            transform: translateX(100%);
        }
    }
}